/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

main {
  min-height: 100vh;
  padding: 20px;
  margin-top: 10vh;
}

.search-bar {
  text-align: right;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button:focus,
input:focus {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .modal {
    width: 90%;
    max-height: 80vh;
  }
}

@media (max-width: 480px) {

  .search-bar input {
    width: 90%;
  }
}

.loading-block, .error-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* Adjust position to truly center the div */
  width: 300px;
  text-align: center;
}

.error-block p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  animation: highlightError 1.5s ease-in-out;
}

/* Animation for highlight effect */
@keyframes highlightError {
  0% {
    background-color: transparent;
    color: red;
  }
  25% {
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
  }
  50% {
    background-color: transparent;
    color: red;
  }
  75% {
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
  }
  100% {
    background-color: transparent;
    color: red;
  }
}
